*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}
body{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.navbar{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    height: 15vh;
}
ul{
    position: fixed;
    top: 2%;
    left: 17.5%;
    background: rgb(28, 27, 27);
    width: 1000px;
    height: 70px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
}
ul li{
    line-height: 70px;
    width: 200px;
    color: #fff;
    text-transform: capitalize;
    list-style: none;
    text-align: center;
    font-size: 1rem;
    transition: all 0.4s;
    cursor: pointer;
}
ul li a:hover{
    color: rgb(9,175,134);
}
a{
    text-decoration: none;
    color: #fff;
    transition: all 0.4s;
}
.slider{
    position: absolute;
    width: 100px;
    height: 6px;
    background: rgb(9,175,134);
    bottom: 0;
    left: 452px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.4s;
}
.navbar .search-icon i{
    cursor: pointer;
    font-size: 1.5rem;
}
li:nth-child(1):hover ~ .slider{
    left: 50px;
}
li:nth-child(2):hover ~ .slider{
    left: 250px;
}
li:nth-child(4):hover ~ .slider{
    left: 651px;
}




#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 15vh;
    width: 100%;
    z-index: 1004;
    background: rgb(28, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
#search-form.active {
    top: 0;
}
#search-form #search-box {
    width: 50rem;
    border: 0.1rem solid #fff;
    padding: 1rem 1rem;
    color: #fff;
    font-size: 1rem;
    text-transform: none;
    background: none;
}
#search-form input:focus{
    outline: none;
    outline: 2px solid rgb(9,175,134);
}
#search-form #search-box::placeholder {
    color: #fff;
}
#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
#search-form #close:hover {
    color: rgb(236, 75, 75);
}
#search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 2rem;
}





.header{
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 85vh;
    min-height: 7vh;
    overflow: auto;
}
table{
    border-collapse: collapse;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
tr:nth-child(even){
    background-color: #eee;
}
tr:nth-child(odd){
    background-color: rgb(194, 194, 194);
}
tr:hover td{
    background-color: #fff;
    color: rgb(9,175,134);
    transform: scale(1.2);
}
th , td{
    padding: 1rem 3rem;
    transition: 0.4s ease;
}
td{
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}
.header thead th{
    position: sticky;
    background-color: rgb(28, 27, 27);
    color: #fff;
    font-size: 1rem;
    padding: 1.2rem 4rem;
}
.view-button , .edit-button{
    padding: 10px 10px;
    background-color: rgb(28, 27, 27);
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    border: 2px solid rgb(9,175,134);
}
.view-button:hover , .edit-button:hover{
    background-color: rgb(9,175,134);
    color: rgb(28, 27, 27);
    font-weight: bold;
}
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-track{
    scrollbar-shadow-color: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
::-webkit-scrollbar-thumb{
    scrollbar-shadow-color: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
}