* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background: rgb(226, 226, 226);
}

nav {
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    background: #fff;
    overflow: hidden;
    transition: 1s;
}

.incre{
    width: 280px;
}
nav ul li .imgincre{
    transition: 1s;
    margin: 10px 0 0 60px;
}
nav ul li a .iconincre{
    transition: 1s;
    margin-left:  150px;
}
nav ul li a i{
    transition: 1s;
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 -10px;
    padding-bottom: 3rem;
    transition: 1s;
}

.logo img {
    height: 45px;
    width: 80px;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;
}

a {
    position: relative;
    width: 280px;
    font-size: 18px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
}

nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 0px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}
.icon:hover {
    background: #e2e2e2;
    color: rgb(0, 0, 0);
    border-radius: 30px 0 0 30px;
}
.container nav ul li .active{
    background: #e2e2e2;
    color: rgb(0, 0, 0);
    border-radius: 30px 0 0 30px;
}
.icon:hover i,
.icon:hover span {
    color: rgb(0, 0, 0);
}

.nav-item {
    position: relative;
    top: 0px;
    margin-left: 10px;
}



.logout {
    position: absolute;
    bottom: 0;
}

.container {
    display: flex;
}
h1{
    letter-spacing: 2px;
    word-spacing: 3px;
}



#approve-form .dabbatable .dabbahead tr {
    color: #fff !important;
    background-image: rgb(255, 255, 255) !important;
    font-weight: bold !important;
}





#approve-form {
    position: fixed;
    top: -110%;
    left: 50;
    min-height: 50vh;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 1004;
    background: #f3f3f3;
    border-radius: 20px;
    display: flex;
    transition: all 0.5s;
    margin-top: 8%;
    margin-left: 23%;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
}
#approve-form.active {
    top: 0;
}
#approve-form #approve-box {
    width: 50rem;
    border: 0.1rem solid #fff;
    padding: 1rem 1rem;
    color: #fff;
    font-size: 1rem;
    text-transform: none;
    background: none;
}
#approve-form input:focus{
    outline: none;
    outline: 2px solid rgb(9,175,134);
}
#approve-form #approve-box::placeholder {
    color: #fff;
}
#approve-form #approve-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
#approve-form #closeapprove:hover {
    color: rgb(237, 35, 35);
}
#approve-form #closeapprove {
    position: absolute;
    color: rgb(236, 75, 75);
    cursor: pointer;
    top: 1rem;
    right: 3rem;
    font-size: 2rem;
}




.main .attendance .attendance-list .heading #search-box {
    width: 30rem;
    border: 0.1rem solid rgb(28, 26, 26);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 15px;
    color: rgb(28, 26, 26);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1rem;
    text-transform: none;
    background: none;
}






.main {
    position: relative;
    padding: 20px;
    width: 100%;
}

.main-top {
    display: flex;
    width: 100%;
}

.main-top i {
    position: absolute;
    right: 0;
    margin-right: 30px;
    font-size: 25px;
    color: red;
    cursor: pointer;
}

.main .users {
    display: flex;
    width: 100%;
}

.users .card {
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.users .card i{
    font-size: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.users .card h4 {
    font-weight: bold;
    text-transform: uppercase;
}

.users .card p {
    font-size: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.users table {
    margin: auto;
}

.users .per span {
    padding: 5px;
    border-radius: 10px;
    background: rgb(223, 223, 223);
}

.users td {
    font-size: 14px;
    padding-right: 15px;
}

.users .card button {
    width: 100%;
    margin-top: 8px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #34AF60;
}

.users .card button:hover {
    background: #34AF60;
    color: #fff;
    transition: 0.5s;
}






.attendance {
    margin-top: 20px;
    text-transform: capitalize;
}

.attendance-list {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.attendance .attendance-list .heading{
    display: flex;
    justify-content: space-between;
}
.attendance .attendance-list .heading i{
    position: absolute;
    right: 0;
    margin-right: 40px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    padding: 0 20px 0 20px;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

table thead tr {
    color: #fff;
    background-image: linear-gradient( 99deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% );
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: center;
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(odd) {
    background: #f3f3f3;
}

.table tbody tr.active {
    font-weight: bold;
    color: #34AF60;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #34AF60;
}