*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}
.receipt{
    border: 1px solid rgb(114, 110, 110);
    border-radius: 4rem 0 4rem 0;
    background: #eee;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s ease;
}
.receipt:hover{
    border-radius: 0 4rem 0 4rem ;
    transition: all 0.3s ease;
}
.box{
    width: 100%;
}

